/* General resets */
body {
    margin: 0;
}

/* Main bracket container */
.bracket {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* space between rounds */
    padding-bottom: 50px;
}

/* Round container */
.round {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px; /* space between games */
    justify-content: center;
}

/* For games */
.game {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 300px;
}

/* Team styling */
.team {
    padding: 5px;
    background: #f0f0f0;
    border-radius: 3px;
    transition: background 0.3s;
    height: 35px;
}

.team.winner {
    background: #d4edda;
    font-weight: bold;
}

.team.champ {
    background: #e8ce4d;
}

/* Increase gap between games for Round 2 */
.round-2 {
    gap: 140px;
}

/* Add extra margins between rounds */
.round-2 {
    margin-top: 60px;
}

.round-3 {
    margin-top: 180px;
}

.round-4 {
    margin-top: 200px;
}