:root {
    --manager-info-margin: 10px;
}

.managers-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.managers-grid > * {
    flex: 0 1 auto;
}

.manager-info-card {
    margin: var(--manager-info-margin);
    width: calc(100% - var(--manager-info-margin) * 2);
}

.manager-info-card > h4 {
    margin: auto;
}

.manager-info-card > img {
    width: 100%;
    object-fit: cover;
}

.manager-info-card > p {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: justify;
}

@media (min-width: 720px) {
    .managers-grid > .manager-info-card {
        width: calc(50% - var(--manager-info-margin) * 2);
    }
}

@media (min-width: 1008px) {
    .managers-grid > .manager-info-card {
        width: calc(33.333% - var(--manager-info-margin) * 2);
    }
}
