{% extends "base.html" %}

{% block content %}
<link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
<div class="welcome-message">
    <b>{{ welcome_message }}</b>
</div>

<div class="league-info">
    <ul>
        <li><strong>Founding:</strong> The league was founded in 2012. Unfortunately due to unknown reasons, all data before 2014 is lost.</li>
        <li><strong>Keepers:</strong> The keeper era started in 2015.</li>
        <li><strong>PPR:</strong> .5 PPR started in 2018.</li>
        <li><strong>Player-specific stats:</strong> Player-specific stats are only available for years 2018 onward.</li>
        <li><strong>NFL season:</strong> The 17-game NFL season started in 2021.</li>
        <li><strong>Kickers:</strong> Kickers were removed from the league in 2022.</li>
    </ul>
</div>
{% endblock %}
