<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title_prefix }}: Least points in week</title>
</head>
<body>

<table border="1">
    <thead>
        <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            {% for col in colnames %}
            {% if 'value' in col %}
                <td>{{ "%.2f"|format(record[col]|float) }}</td>
            {% else %}
                <td>{{ record[col] }}</td>
            {% endif %}

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
