{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='meet_the_managers.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="managers-grid">
{% for manager in managers %}
<div class="manager-info-card">
    <h4>{{ manager['display_name'] }}</h4>
    {% if os.path.exists(os.path.join(meet_the_managers_assets, manager["key_name"] ~ ".jpg")) %}
    {% set src = os.path.join(meet_the_managers_assets, manager["key_name"] ~ ".jpg") %}
    {% else %}
    {% set src = os.path.join(meet_the_managers_assets, "default_manager.jpg") %}
    {% endif %}

    <img alt="{{ manager['display_name'] }}" src="{{ src }}">
    <br>
    <p>{{ bios[manager['key_name']] }}</p>
</div>
{% endfor %}
</div>

{% endblock %}
