{% extends "base.html" %}

{% block content %}

<div align="center">
  <table>
    <tr>
      <td>
        <div align="center">
          {{ active[0] }}
          </br>
          <img src="/static/{{ active[0].lower().replace(' ', '') }}.png">
          </br>
          <iframe src="/static/{{ active[0].lower().replace(' ', '') }}.txt"></iframe>
        </div>
      </td>
      <td>
        <div align="center">
          {{ active[0] }}
          </br>
          <img src="/static/{{ active[0].lower().replace(' ', '') }}.png">
          </br>
          <iframe src="/static/{{ active[0].lower().replace(' ', '') }}.txt"></iframe>
        </div>
      </td>
      <td>
        <div align="center">
          {{ active[0] }}
          </br>
          <img src="/static/{{ active[0].lower().replace(' ', '') }}.png">
          </br>
          <iframe src="/static/{{ active[0].lower().replace(' ', '') }}.txt"></iframe>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div align="center">
          {{ active[0] }}
          </br>
          <img src="/static/{{ active[0].lower().replace(' ', '') }}.png">
          </br>
          <iframe src="/static/{{ active[0].lower().replace(' ', '') }}.txt"></iframe>
        </div>
      </td>
      <td>
        <div align="center">
          {{ active[0] }}
          </br>
          <img src="/static/{{ active[0].lower().replace(' ', '') }}.png">
          </br>
          <iframe src="/static/{{ active[0].lower().replace(' ', '') }}.txt"></iframe>
        </div>
      </td>
      <td>
        <div align="center">
          {{ active[0] }}
          </br>
          <img src="/static/{{ active[0].lower().replace(' ', '') }}.png">
          </br>
          <iframe src="/static/{{ active[0].lower().replace(' ', '') }}.txt"></iframe>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div align="center">
          {{ active[0] }}
          </br>
          <img src="/static/{{ active[0].lower().replace(' ', '') }}.png">
          </br>
          <iframe src="/static/{{ active[0].lower().replace(' ', '') }}.txt"></iframe>
        </div>
      </td>
      <td>
        <div align="center">
          {{ active[0] }}
          </br>
          <img src="/static/{{ active[0].lower().replace(' ', '') }}.png">
          </br>
          <iframe src="/static/{{ active[0].lower().replace(' ', '') }}.txt"></iframe>
        </div>
      </td>
      <td>
        <div align="center">
          {{ active[0] }}
          </br>
          <img src="/static/{{ active[0].lower().replace(' ', '') }}.png">
          </br>
          <iframe src="/static/{{ active[0].lower().replace(' ', '') }}.txt"></iframe>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div align="center">
          {{ active[0] }}
          </br>
          <img src="/static/{{ active[0].lower().replace(' ', '') }}.png">
          </br>
          <iframe src="/static/{{ active[0].lower().replace(' ', '') }}.txt"></iframe>
        </div>
      </td>
      <td>
        <div align="center">
          {{ active[0] }}
          </br>
          <img src="/static/{{ active[0].lower().replace(' ', '') }}.png">
          </br>
          <iframe src="/static/{{ active[0].lower().replace(' ', '') }}.txt"></iframe>
        </div>
      </td>
      <td>
        <div align="center">
          {{ active[0] }}
          </br>
          <img src="/static/{{ active[0].lower().replace(' ', '') }}.png">
          </br>
          <iframe src="/static/{{ active[0].lower().replace(' ', '') }}.txt"></iframe>
        </div>
      </td>
    </tr>
  </table>
</div>

{% endblock %}