<link href="{{ url_for('static', filename='navbar.css') }}" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% set nav_items = [
                    {"name": "Home", "url": "/"},
                    {"name": "Snapshot", "url": "/snapshot"},
                    {"name": "Championships", "url": "/championships"},
                    {"name": "All-time regular season points", "url": "/total_regular_season_points"},
                    {"name": "All-time playoff points", "url": "/total_playoff_points"},
                    {"name": "Win percent", "url": "/win_percent"},
                    {"name": "Playoff appearances", "url": "/playoff_appearances"},
                    {"name": "Highest season points", "url": "/highest_regular_season"},
                    {"name": "Lowest season points", "url": "/lowest_regular_season"},
                    {"name": "Best defense", "url": "/best_defense"},
                    {"name": "Worst defense", "url": "/worst_defense"},
                    {"name": "Highest week points", "url": "/highest_week"},
                    {"name": "Lowest week points", "url": "/lowest_week"},
                    {"name": "Highest week loss", "url": "/highest_loss"},
                    {"name": "Lowest week win", "url": "/lowest_win"},
                    {"name": "Meet the managers", "url": "/meet_the_managers"}
                ] %}

                {% for item in nav_items %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == item.url %}current-path{% endif %}"
                       href="{{ item.url }}" aria-current="page">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Head-to-head
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for member in members %}
                        <li>
                            <a class="dropdown-item" href="/head-to-head/{{ member }}">{{ member }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
