<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/" style="text-align:center">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/championships" style="text-align:center">Championships</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/total_regular_season_points" style="text-align:center">All-time regular
                    season points</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/total_playoff_points" style="text-align:center">All-time playoff points</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/win_percent" style="text-align:center">Win percent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/playoff_appearances" style="text-align:center">Playoff appearances</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/highest_regular_season" style="text-align:center">Highest season points</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lowest_regular_season" style="text-align:center">Lowest season points</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/highest_week" style="text-align:center">Highest week points</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lowest_week" style="text-align:center">Lowest week points</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/highest_loss" style="text-align:center">Highest week loss</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lowest_win" style="text-align:center">Lowest week win</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown" style="text-align:center">
                    Head-to-head
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for owner in owners %}
                    <a class="dropdown-item" href="/head-to-head/{{ owner }}" style="text-align:center">{{ owner }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>
</nav>