{% extends "base.html" %}

{% block content %}
<table class="table table-striped table-hover" id="data">
    <thead>
    <tr>
        <th>Member</th>
        <th>Team Name</th>
        <th class="numeric">Year</th>
        <th class="numeric">Points</th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
    <tr>
        <td>{{ record.member }}</td>
        <td>{{ record.team }}</td>
        <td class="numeric">{{ record.year }}</td>
        <td class="numeric">{{ "{:,}".format(record.value) }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
